Repository yandex/odyssey, pull requests merged in 2022-07, with the labels that each got.

#438 Ldap search filter fixing
  config-examples/odyssey-dev-ldap.conf
  sources/config_reader.c
  sources/ldap.c
Labels: community, ldap

#442 Add HBA config file support, add hba reload logic.
  docker/Dockerfile
  docker/bin/setup
  docker/entrypoint.sh
  docker/hba/common.conf
  docker/hba/odyssey_hba.conf
  docker/hba/tcp.conf
  docker/hba/test.sh
  docker/hba/unix.conf
  documentation/configuration.md
  sources/CMakeLists.txt
  sources/config.c
  sources/config.h
  sources/config_common.h
  sources/config_reader.c
  sources/config_reader.h
  sources/frontend.c
  sources/global.h
  sources/hba.c
  sources/hba.h
  sources/hba_reader.c
  sources/hba_reader.h
  sources/hba_rule.c
  sources/hba_rule.h
  sources/instance.c
  sources/odyssey.h
  sources/system.c
Labels: community, HBA

#446 Add aarch64 support for machinarium context switch function
  third_party/machinarium/sources/context.c
Labels: aarch64
